extends ./../layouts/common
block content
    h1 LOGIN PAGE
    if errors
        each error in errors
            .alert.alert-danger #{error}
    .alert.alert-secondary Thời gian maxAge của cookie là 10 phút. Sau 10 phút phải login lại (đang sử dụng signedCookies). Phải login mới sử dụng được các chức năng khác
    form(action="/auth/login", method="POST")
        .form-group
            label(for="name") Email
            input#name.form-control(type="text", name="email", value=values ? values.email : null)
        .form-group
            label(for="phone") Password
            input#phone.form-control(type="password", name="password")
        button.btn.btn-primary(type="submit") Login