html
    head
        //- base(href="/")
        link(rel="stylesheet" href="/static/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/static/styles/custom.css")
        title Users
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') MyWeb
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                a.nav-item.nav-link.active(href='/')
                    | Home 
                a.nav-item.nav-link(href='/users') Users
                a.nav-item.nav-link(href='/products') Products
                if cartCount
                    a.nav-item.nav-link(href='/products1') Cart(#{cartCount})
                else
                    a.nav-item.nav-link(href='/products2') Cart
                a.nav-item.nav-link(href='/transfer/create') Transfer 
                a.nav-item.nav-link(href='/auth/logout') Logout
            if user
                p=user.name

        .container.pt-3
            block content
            
        scripts(src="/static/javascripts/bootstrap.min.js")
        scripts(src="/static/javascripts/jquery-3.3.1.slim.min.js")
        scripts(src="/static/javascripts/popper.min.js")
        