extends ./layouts/common
block content
    .card.mx-auto(style='width: 18rem;')
        img.card-img-top(src='/static/images/logo.jpg', alt='image in home')
        .card-body
            h5.card-title #{titleCard}
            p.card-text
            |This is my micro project on Coders Tokyo (now change to CodersX). I hope I can success! Fighting
            a.btn.btn-primary.mt-3.mx-auto(href='/users') Go to Users Page