extends ./../layouts/common
block content
    h1 
        span Create user

    if errors
        .alert.alert-danger
            ul
                each error in errors
                    li #{error}
                    
    form(action="/users/create", method="POST")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=values ? values.name : null)
        .form-group
            label(for="phone") Phone
            input#phone.form-control(type="text", name="phone", value=values ? values.phone : null)
        button.btn.btn-primary(type="submit") Create