extends ./../layouts/common
block content
    h1 
        span.mr-2 Users
        a.btn.btn-primary(href="/users/create") New user

    .d-flex.align-item-center
        form.d-flex.ml-auto(action="/users/search", method="GET")
            input.form-control(type="text", name="keySearch", value=key)
            button.btn.btn-primary.ml-2(type="submit") Search
            a.btn.btn-primary.ml-2(href="/users") Clear

    if notification
        .alert.alert-success #{notification}
        
    table.table.mt-3
        tr
            th Name
            th Phone
            th 
            td
        each user in users
            tr
                td= user.name  
                td= user.phone
                td 
                    a.btn.btn-success(href="/users/view/" + user.id) View
                td
                    a.btn.btn-danger(href="/users/delete/" + user.id) Delete

